#main.clearfix
  :if article.version
    %a.sha-version{ href: "/#{article.version}/#{article.name}" } Static Version
  %h1
    %a{href: "/" + article.name}&= article.title
  = markdownEncode(article.markdown)
  %hr{style:"clear:both"}
  #disqus_thread.body
  :script
    var disqus_url = "http://dazuo.me/#{article.name}";
    var disqus_shortname = 'cartman0721'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  %a.dsq-brlink(href="http://disqus.com")
    blog comments powered by
    %span.logo-disqus
      Disqus

#sidebar
  .aside.clearfix
    %h4 About the Author
    %img.headshot{src: gravitar(author.email) }
    %dl
      %dt Name:
      %dd&= author.name
    :if author.weibo
      %dl
        %dt Weibo:
        %dd
            %a{href: "http://weibo.com/u/1574501871"}#{author.weibo}
    :if author.douban
      %dl
        %dt Douban:
        %dd
            %a{href: "http://www.douban.com/people/#{author.douban}"}#{author.douban}
    :if author.github
      %dl
        %dt Github:
        %dd= github(author.github)
    :if author.bitbucket
      %dl
        %dt BitBucket:
        %dd= bitbucket(author.bitbucket)
    :if author.twitter
      %dl
        %dt Twitter:
        %dd= twitter(author.twitter)
    :if author.location
      %dl
        %dt Location:
        %dd&= author.location
      %dl
        %dt:
        %dd
            %a{href: "http://cartman0721.wordpress.com"}以前写东西的地方（需翻墙）
    :if author.company
      %dl
        %dt Company:
        %dd&= author.company
    :if author.homepage
      %dl
        %dt Links:
        %dd
          %a{href: author.homepage} Homepage
    :if author.intro
        %dt Introduction:
        %dd=markdownEncode(author.intro)

  .aside
    %h4
      About this Article
    :if article.date
      %dl{title: article.date}
        %dt
          Date Released:
        %dd
          &= formatDate(article.date, "%A, %B %e, %Y")

    :if article.node
      %dl
        %dt
          Node Version:
        %dd
          %a{ href: "http://github.com/joyent/node/tree/" + article.node }
            node #{article.node}

    :if article.dependencies
      %dl
        %dt
          Dependency Versions:
        %dd
          %ul
            :each dependency in article.dependencies
              %li
                %a{ href: "http://github.com/creationix/haml-js/tree/8ea2df3a90ff488ed253d5872e0f4a387f393e5d" }
                  haml-js v0.2.2

    :if article.uniqueSnippets
      %dl
        %dt
          Code Samples:
        %dd
          %ul
            :each base, snippet in article.uniqueSnippets
              %li
                %a{ href: snippet.filename}
                  &= base


  :if article.related && article.related.length > 0
    .bubble
      %h4
        Other Articles by this Author
      %ul
        :each related in article.related
          %li
            %a{href: "/" + related.name}&=related.title
            :if related.node
              %span.versiontag&= related.node

  .bubble= markdownEncode(description)
